article {
    width: 420px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 20px;
    margin: auto;
}
article h3 {
    text-align: center;
    color: orangered;
}
article h3 span {
    font-size: 11px;
    color: #333;
}
article div {
    display: flex;
    justify-content: space-between;
}
article section {
    font-size: 16px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 10px;
}
article section p {
    margin-left: 10px;
}
button{
    display: block;
    margin: 15px auto;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    border-color: orange;
    cursor: pointer;
    font-size: 17px;
    outline:none
}
button:hover {
    background-color: orangered;
    color: white;
}
article a {
    font-size: 17px;
    text-decoration: none;
    color: blue;
}
article a:hover {
    text-decoration: underline;
    color: blueviolet;
}
#message {
    text-align: center;
    color: red;
    font-weight: bold;
}
#info {
    margin-top: 50px;
    font-size: 13px;
    color: #aaa;
    font-style: italic;
    margin-left: 70px;
}