body {
    margin: 0;
    padding: 0;
    background-color: rgb(126,117,117);
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#box {
    background-color: rgb(196,191,191);
    padding: 25px;
    text-align: center;
}