@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Seymour+One&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
header {
    text-align: center;
}
header h1 {
    font-family: 'Seymour One', sans-serif;
    font-size: 3rem;
    color: #c0392b;
    text-shadow: 0 0 10px #f3f3f3;
}
header p {
    font-size: 1.4rem;
    color: #f3f3f3;
    text-shadow: 0 0 10px #333;
    margin-bottom: 35px;
}
header button {
    background-color: #d35400;
    cursor: pointer;
    padding: 9px 25px;
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    color: #f3f3f3;
    box-shadow: 0 0 3px #999;
    transition: 1s;
}
header button:hover {
    transform: translateY(-10px);
    background-color: #e67e22;
}


/***section**/

section {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div {
    background-color: #ecf0f1;
    width: 350px;
    padding: 20px;
    border-radius: 10px;

}
section label {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;

}
section input {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bbb;
    outline: none;

}
section input[type="submit"] {
    background-color: #d35400;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: none;
    color: #f3f3f3;
    transition: 1s;
}
section input[type="submit"]:hover {
    background-color: #e67e22;
}
.closed {
    text-align: right;
    margin: 0;
}
.fa-circle-xmark {
    cursor: pointer;
    color: #333;
}
.fa-circle-xmark:hover {
    color: #999;
}
.centrer {
    text-align: center;
    font-size: 5rem;
    margin: 0;
    margin-bottom: 25px;
    color: #999;
}

